body {
  color: #038;
  background-color: #F0F0F0;
}
.clear_none_border {
  clear: left;
  float: left;
}
.none_border {
  padding: 10px 8px;
  float: left;
}
.clear_none_border_group {
  clear: left;
  float: left;
  padding: 10px 8px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 0.2em;
}
.disabled_cell {
  border: solid 1px gray;
  background-color: #ebebe4;
}
.ui-grid-header-canvas {
  height: 28px;
}
.ui-grid-header-cell-wrapper {
  height: 28px;
}
.rsi-align-right {
  text-align: right;
}
.rsi-align-left {
  text-align: left;
}
.rsi-align-center {
  text-align: center;
}
div.modal-micro {
  width: 300px;
}
div.modal-mini {
  width: 400px;
}
div.modal-tiny {
  width: 500px;
}
div.modal-sm {
  width: 600px;
}
div.modal-normal {
  width: 700px;
}
div.modal-lg {
  width: 800px;
}
div.modal-hg {
  width: 900px;
}
div.modal-giant {
  width: 1000px;
}
.sny_left_aligned40 {
  text-align: left;
  width: 40px;
}
.sny_left_aligned100 {
  text-align: left;
  width: 100px;
}
.sny_right_aligned100 {
  text-align: right;
  width: 100px;
  padding-right: 10px;
}
.sny_right_aligned100_nopadding {
  text-align: right;
  width: 100px;
}
.sny_right_aligned60 {
  text-align: right;
  padding-right: 5px;
  width: 60px;
}
.sny_right_aligned70 {
  text-align: right;
  padding-right: 5px;
  width: 70px;
}
.sny_right_aligned80 {
  text-align: right;
  padding-right: 5px;
  width: 80px;
}
.sny_right_aligned60_nopadding {
  text-align: right;
  width: 60px;
}
.sny_right_aligned40 {
  text-align: right;
  padding-right: 5px;
  width: 40px;
}
.sny_left_aligned60 {
  text-align: left;
  width: 60px;
}
.sny_left_aligned50 {
  text-align: left;
  width: 50px;
}
.sny_table_1row {
  height: 30px;
}
.sny_table_2row {
  height: 60px;
}
.sny_table_3row {
  height: 90px;
}
.sny_table_4row {
  height: 120px;
}
.sny_table_5row {
  height: 150px;
}
.sny_table_6row {
  height: 180px;
}
.sny_align_right {
  text-align: right;
}
input.sny_date_field_full {
  width: 80px;
}
input.sny_input_right_aligned30 {
  width: 30px;
  text-align: right;
}
input.sny_input_right_aligned60 {
  width: 60px;
  text-align: right;
}
input.sny_input_right_aligned100 {
  width: 100px;
  text-align: right;
}
input.sny_input_left_aligned120 {
  width: 120px;
  text-align: left;
}
input.sny_address_field {
  width: 450px;
}
input.sny_uppercase {
  text-transform: uppercase;
}
input.sny_width100per {
  width: 100%;
}
.sny_read_only_field {
  background: #CCC;
  color: #333;
}
.sny_date_field_YYYYMM {
  width: 60px;
}
.sny_kintai_comp_dropdown {
  width: 150px;
}
.sny_tildi {
  padding-left: 5px;
  padding-right: 5px;
}
.sny_border {
  border: solid 1px lightgray;
}
.sny_margin {
  margin-top: 10px;
  margin-bottom: 10px;
}
.sny_padding_left5 {
  padding-left: 5px;
}
.sny_padding_right5 {
  padding-right: 5px;
}
.sny_padding_right40 {
  padding-right: 40px;
}
.sny_padding_top10 {
  padding-top: 10px;
}
.sny_padding_bottom10 {
  padding-bottom: 10px;
}
.sny_width_33per {
  width: 33%;
}
.sny_height_100per {
  height: 100%;
}
.sny_height_50per {
  height: 50%;
}
.sny_shinki {
  border: solid 1px gray;
  height: 25px;
  text-align: center;
  background-color: yellow;
  color: red;
}
.sny_gap80 {
  width: 80px;
}
div.sny_koshin_bottom_buttons {
  margin-top: 10px;
  margin-left: 100px;
}
div.sny_koshin_bottom_buttons button {
  width: 100px;
}
div.sny_master_bottom_buttons {
  margin-top: 10px;
  margin-left: 150px;
}
div.sny_master_bottom_buttons button {
  width: 100px;
}
div.sny_bottom_3buttons_600 {
  margin-top: 10px;
  margin-left: 280px;
}
div.sny_bottom_3buttons_600 button {
  width: 100px;
}
div.sny_div_table {
  display: table;
}
div.sny_div_row {
  display: table-row;
}
div.sny_div_cell {
  display: table-cell;
}
textarea {
  color: black;
}
textarea.sny_insatsu_txareasize {
  width: 240px;
  height: 100px;
}
.sny_right_aligned260 {
  width: 260px;
  text-align: right;
}
.sny_grayed_out {
  color: gray;
}
.sny_font_black {
  color: black;
}
.sny_font_weight_normal {
  font-weight: normal;
}
input {
  color: black;
}
.sny_light_blue {
  color: #39b3d7;
}
.sny_bgcolor_radio {
  background-color: #D1E0E0;
}
select {
  color: black;
}
label {
  font-weight: normal;
}
th {
  font-weight: normal;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #b3ffb3;
}
div.sny_select_panel div.ui-grid-row:nth-child(2n+0) div.ui-grid-cell-contents {
  background: #b3ffb3;
}
div.sny_select_panel div.ui-grid-row:nth-child(2n+1) div.ui-grid-cell-contents {
  background: white;
}
div.sny_select_option_panel div.ui-grid-row .ui-grid-cell {
  background: white;
}
div.ui-grid-render-container.ng-isolate-scope.ui-grid-render-container-body {
  color: black;
}
div.sny_deselected_option_panel div.ui-grid-render-container.ng-isolate-scope.ui-grid-render-container-body {
  color: gray;
}
div.ui-grid-top-panel.ng-scope {
  font-weight: 200;
}
div.sny_grid_grayed_out div.ui-grid-row .ui-grid-cell {
  background: lightgray;
  border-bottom: 1px solid white;
}
div.sny_menu_bar {
  margin-top: 4px;
  margin-bottom: 20px;
  font: small;
  border-bottom: solid 1px black;
  height: 24px;
  max-height: 24px;
}
div.sny_menu_bar nav.navbar {
  height: 20px;
  max-height: 20px;
}
div.sny_menu_bar nav.navbar div.navbar-header {
  margin-right: 50px;
}
div.sny_menu_bar ul.navbar-nav {
  list-style-type: none;
}
div.sny_menu_bar ul.navbar-nav li.bar_item,
div.sny_menu_bar ul.navbar-nav li.dropdown,
div.sny_menu_bar ul.navbar-nav li.bar_item {
  float: left;
  margin-right: 20px;
}
div.sny_menu_bar ul.navbar-nav li.bar_item a.dropdown-toggle,
div.sny_menu_bar ul.navbar-nav li.dropdown a.dropdown-toggle,
div.sny_menu_bar ul.navbar-nav li.bar_item a.dropdown-toggle,
div.sny_menu_bar ul.navbar-nav li.bar_item a.bar_item,
div.sny_menu_bar ul.navbar-nav li.dropdown a.bar_item,
div.sny_menu_bar ul.navbar-nav li.bar_item a.bar_item {
  margin: 0;
  padding: 0;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  height: 20px;
  max-height: 20px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: lightblue;
}
/*# sourceMappingURL=common.css.map */