<div class='modal-container' name='製品マスタ'>
    <div class="modal-header">
        <h4>製品マスタ検索</h4>
    </div>
    <div class="modal-body">
        <div ng-app="検索">
            <div class='none_border clear_none_border'>
                <table class="top_modal_table">
                    <tr>
                        <td>型名</td>
                        <td><input uppercase enter-as-tab type="text" ng-model="modal.conds['型名'].text" ng-keydown="modal.keypress($event, '型名')"/></td>
                    </tr>
                </table>
                <table class="middle_modal_table">
                    <tr>
                        <td>製品グループ</td>
                        <td><input enter-as-tab type="text" ng-model="modal.conds['製品グループ'].text" ng-keydown="modal.keypress($event, '製品グループ')"/></td>
                        <td>工程グループ</td>
                        <td><input enter-as-tab type="text" ng-model="modal.conds['工程グループ'].text" ng-keydown="modal.keypress($event, '工程グループ')"/></td>
                        <td>管轄工場</td>
                        <td><input enter-as-tab type="text" ng-model="modal.conds['管轄工場'].text" ng-keydown="modal.keypress($event, '管轄工場')"/></td>
                    </tr>
                </table>
                <div class='clear_none_border' >
                    <div ui-grid="modal.gridOptions" ui-grid-selection class="grid" external-scopes="modal.gridHandlers"  style="width:550px; height: 350px;" ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class='rsi-buttons' >
            <button class="btn btn-primary" ng-click="modal.query()">検索</button>
            <button class="btn btn-primary" ng-click="modal.ok()">OK</button>
            <button class="btn btn-warning" ng-click="modal.cancel()">キャンセル</button>
        </div>
    </div>
</div>