<div ng-app="不良率パレート図Panel" ng-controller="不良率パレート図Ctrl">
    <sf-menu-bar></sf-menu-bar>
    <div class='sny_panel' ng-show="MI.appMenuBar.authorized">
        <h4 ng-if="MI.show_title_mode">工程経過日数算出</h4>
        <div class="sny_left_panel">
            <table class="sny_date_entry">
                <tr>
                    <td class="sny_left_aligned50">期間:</td>
                    <td><input class="sny_date_field_YYYYMM" center-as-tab type="text" my-datepicker ui-mask="9999/99" ng-model="MI.conds['実績日'].text" ng-keydown="MI.keypress($event, '実績日')"/></td>
                </tr>
            </table>
            <div class="clear_none_border">            
                <sf-furyo-data-selection/>
            </div>  
            <div class="clear_none_border">            
                <sf-furyo-shutsuryoku-selection/>
            </div>  
            <table class="sny_multiple_choice sny_table_2row sny_bgcolor_radio sny_border">
                <tr>
                    <td class="sny_light_blue">集計指定</td>
                </tr>
                <tr>
                    <td><input type="radio" enter-as-tab name="optradio2" value=0 ng-model="MI.props['集計指定']"/>総合計</td>
                </tr>
                <tr>
                    <td><input type="radio" enter-as-tab name="optradio2" value=1 ng-model="MI.props['集計指定']"/>グループ別</td>
                </tr>
            </table>   
        </div>
        <div class="sny_right_panel"> 
            <div class="clear_none_border sny_margin">            
                <sf-furyo-graph-selection/>
            </div>    
            <div>        
                <sf-furyo-katamei/>
            </div>    
            <div ui-grid="MI.koteigroupPanel.gridOptions" ui-grid-selection ui-grid-row-edit ui-grid-cellNav ng-class="{sny_deselected_option_panel:MI.props['出力指定']==='0'}" class="grid koteigroup_list_table" external-scopes="MI.koteigroupPanel.gridHandlers" style="width:350px;"></div>
        </div>
        <div class='bottom_buttons none_border_group'>
            <button type="button" ng-click="" class="rsi-btn ">印刷</button>
            <button type="button" ng-click="" class="rsi-btn ">プレビュー</button>
            <button type="button" ng-click="MI.cancel()" class="rsi-btn ">キャンセル</button>
        </div>
    </div>
</div>