<table class="sny_data_choice sny_bgcolor_radio sny_border sny_bgcolor_radio"> 
    <tr>
        <td class="sny_light_blue">データ選択</td>
    </tr>
    <tr>
        <td><input type="radio" name="optradio" value=0 ng-model="MI.props['データ選択']"/>すべて</td>
    </tr>
    <tr>
        <td><input enter-as-tab type="radio" name="optradio" value=1 ng-model="MI.props['データ選択']"/>工程管理品</td>
    </tr>
    <tr>
        <td><input type="radio" name="optradio" value=2 ng-model="MI.props['データ選択']"/>特別管理品</td>
    </tr>
</table>