<table class="sny_kakeritsu_fields sny_table_5row"> 
    <tr>
        <td>製造直単価:</td>
        <td><input class="sny_date_field_full rsi-align-right sny_read_only_field" enter-as-tab type="text" ng-model="MI.props['製造直単価']"readonly disabled/></td>
    </tr>
    <tr>
        <td>手直し単価:</td>
        <td><input class="sny_date_field_full rsi-align-right sny_read_only_field" type="text" ng-model="MI.props['手直し単価']"readonly disabled/></td>
    </tr>
    <tr>
        <td>技術売上金掛率:</td>
        <td><input class="sny_date_field_full rsi-align-right sny_read_only_field" type="text" ng-model="MI.props['技術売上金掛率']" readonly disabled/></td>
    </tr>
    <tr>
        <td>検査仕損金掛率:</td>
        <td><input class="sny_date_field_full rsi-align-right sny_read_only_field" type="text" ng-model="MI.props['検査仕損金掛率']"readonly disabled/></td>
    </tr>
    <tr>
        <td>工程仕損金掛率:</td>
        <td><input class="sny_date_field_full rsi-align-right sny_read_only_field" type="text" ng-model="MI.props['工程仕損金掛率']"readonly disabled/></td>
    </tr>
</table>     